<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preload" href="../src/css/normalize.css" as="style">
    <link ref="stylesheet" href="../src/css/normalize.css">

    <link rel="preload" href="../src/css/style.css" as="style">
    <link href="../src/css/style.css" rel="stylesheet">

    <title>inicio</title>
</head>
<body>
    <header class="contenedor-titulo">
        <h1>Empresa de Envios </h1>
    </header>
    
    <main class="contenedor ">
        <div>
            <a href="/add_maritimo">Adicionar Pedido Maritimo</a>
        </div>
        <div>
            <a href="/add_terrestre">Adicionar Pedido Terrestre</a>
        </div>
            <a href="/visua">Ver pedidos </a>
        <div>
        </div>

    </main>

    <footer>
        <p>todos los derechos reservados © </p>
    </footer>
    
</body>
</html>